doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/main.css')
    meta(viewport='width=device-width')
  body
    block content

    script(src='/socket.io/socket.io.js')
    script(src='/scripts/client.js')