.joined-game .join-game-form,
.joined-game .join-game-heading,
.leave-game-button,
.increment-score {
  display: none;
}

.joined-game .leave-game-button,
.is-assassin .increment-score {
  display: block;
}

body {
  background-color: red;
}

.is-assassin {
  background-color: green;
}

.score {
  font-weight: bold;
  margin-left: 5px;
}
