.joined-game .join-game-form,
.joined-game .join-game-heading,
.leave-game-button {
  display: none;
}

.joined-game .leave-game-button {
  display: block;
}

body {
  background-color: red;
}

.is-assassin {
  background-color: green;
}
