.joined-game .join-game-form,
.joined-game .join-game-heading,
.leave-game-button,
.increment-score,
.end-game-message,
/*.reset-button,*/
.is-ended .game-view {
  display: none;
}

.joined-game .leave-game-button,
.is-assassin .increment-score,
.is-ended .end-game-message/*,
.is-ended .reset-button*/ {
  display: block;
}

*{
  box-sizing: border-box;
  font-family: 'Special Elite', 'cursive';
}

html {
  border: 20px solid black;
}

body {
  background-color: green;
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
}

.is-assassin {
  background-color: #A10B0B;
}

.score {
  font-weight: bold;
  margin-left: 5px;
}

.join-game-heading {
  margin-top: 40px
}


.players li {
  padding: 4px 0 ;
}

p,
button,
input{
  font-size: 20px;
  margin: 0 auto;
  padding: 5px;
}
input{
  border: 8px dotted black;
  padding: 15px;
}

.join-game-form__button {
  padding: 10px;
  margin: 20px 0;
  margin-bottom: 100px;
}


.leave-game-button,
.reset-button {
  font-size: 16px;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.leave-game-button{
  margin-top: 100px;

}
ul {
  list-style: none;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.logo{
  width: 100%;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 600px) {
  .logo{
    width: 50%;
    margin: 0 auto;
  }
}


.targets {
  display: none;
}


.is-assassin .targets {
  display: block;
}
.is-assassin .threats {
  display: none;
}


